.game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
    overflow-y: scroll;
    padding: 1rem;
}

.game-screen::-webkit-scrollbar {
    background-color: var(--pastel-beige);
    width: 1rem;
    border-radius: 0.5rem;
}
.game-screen::-webkit-scrollbar-thumb {
    background-color: var(--dark-brown);
    border: 0.3rem solid rgba(0, 0, 0, 0);
    border-radius: 0.5rem;
    background-clip: padding-box;
}

.game-screen__container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.game-screen__left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-grow: 2; */
    flex-shrink: 2;
    gap: 1rem;
}

.game-screen__right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */
    flex-shrink: 2;
    gap: 1rem;
}

.game-screen__title {
    font-size: 2rem;
    /* font-weight: bolder; */
    text-align: center;
    font-family: "Rubik Dirt", cursive;
    color: var(--dark-brown);
}

.game-screen__button-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.game-screen__button,
.game-screen__button--active,
.game-screen__button--inactive,
.game-screen__button--blocked,
.game-screen__button--small,
.game-screen__button--small-active {
    background-color: var(--lime-green);
    padding: 1rem;
    color: white;
    font-weight: 700;
    border-radius: 0.5rem;
    border: 3px solid var(--lime-green);
    filter: drop-shadow(3px 3px 3px var(--dark-brown));
}

.game-screen__button--blocked {
    background-color: var(--pastel-lime);
}

.game-screen__button--blocked:hover {
    cursor: not-allowed;
}

.game-screen__button:hover {
    cursor: pointer;
    background-color: var(--pastel-lime);
}

.game-screen__button--active:hover,
.game-screen__button--small-active:hover {
    cursor: not-allowed;
}

.game-screen__button--small,
.game-screen__button--inactive {
    background-color: var(--pastel-lime);
}
.game-screen__button--small,
.game-screen__button--small-active {
    padding: 0.5rem;
}

.game-screen__button--small:hover,
.game-screen__button--inactive:hover {
    background-color: var(--lime-green);
}

.game-screen__computer-turn {
    position: absolute;
    height: 80%;
    width: 80%;
    background-color: var(--off-white);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 40;
    border-radius: 1rem;
    filter: drop-shadow(3px 3px 3px var(--dark-brown));

    /* transform: translateX(-50%) translateY(-50%); */
}

.computer-turn__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 2rem;
    padding: 2rem;
    text-align: center;
    background-color: var(--pastel-beige);
    border-radius: 1rem;
}

.computer-turn__title {
    font-family: "Rubik Dirt", cursive;
    font-size: 1.5rem;
}
.computer-turn__icon {
    font-size: 2rem;
    filter: drop-shadow(3px 3px 3px var(--dark-brown));
}

.computer-turn__loading {
    max-width: 2rem;
}

.computer-turn__gif {
    max-width: 80%;
}
