.high-scores {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--pastel-beige);
    width: 60%;
    height: 60%;
    border-radius: 1rem;
    z-index: 45;
}

.high-scores__screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    text-align: center;
}
.high-scores__title {
    font-size: 2rem;
    font-family: "Rubik Dirt", cursive;
    color: var(--dark-brown);
}
.high-scores__close {
    font-size: 1.5rem;
    position: absolute;
    top: 5%;
    right: 5%;
}

.high-scores__close:hover {
    cursor: pointer;
}
