.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--pastel-beige);
    width: 80%;
    height: 80%;
    border-radius: 1rem;
}

.welcome__screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    text-align: center;
    overflow-y: overlay;
    overflow-x: hidden;
}

.welcome__screen::-webkit-scrollbar {
    background-color: var(--pastel-beige);
    width: 1rem;
    /* border: 1px solid #2ec4b6; */
    border-radius: 0.5rem;
}
.welcome__screen::-webkit-scrollbar-thumb {
    background-color: var(--dark-brown);
    border: 0.3rem solid rgba(0, 0, 0, 0);
    border-radius: 0.5rem;
    background-clip: padding-box;
}

.welcome__title {
    font-size: 1.5rem;
    font-family: "Rubik Dirt", cursive;
    color: var(--dark-brown);
}

.welcome__button-container {
    display: flex;
    gap: 1rem;
}

.welcome__button {
    background-color: var(--lime-green);
    padding: 1rem;
    color: white;
    font-weight: 700;
    border-radius: 0.5rem;
    border: 3px solid var(--lime-green);
}

.welcome__button:hover {
    cursor: pointer;
    background-color: var(--pastel-lime);
}

.welcome__icon {
    font-size: 4rem;
}

strong {
    font-weight: bolder;
}
