.game-over {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--pastel-beige);
    width: 60%;
    height: 60%;
    border-radius: 1rem;
    z-index: 40;
}

.game-over__screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    text-align: center;
}

.game-over__title {
    font-size: 1.5rem;
    font-weight: bolder;
}

.game-over__gif {
    width: 60%;
}

.game-over__button-container {
    display: flex;
    gap: 1rem;
}

.game-over__button {
    background-color: var(--lime-green);
    padding: 1rem;
    color: white;
    font-weight: 700;
    border-radius: 0.5rem;
    border: 3px solid var(--lime-green);
}

.game-over__button:hover {
    cursor: pointer;
    background-color: var(--pastel-lime);
}
