.how-it-works {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--pastel-beige);
    width: 80%;
    height: 80%;
    border-radius: 1rem;
    z-index: 50;
    filter: drop-shadow(3px 3px 3px var(--dark-brown));
}

.how-it-works__screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    text-align: center;
    width: 90%;
}

.how-it-works__title {
    font-size: 2rem;
    font-family: "Rubik Dirt", cursive;
    color: var(--dark-brown);
}

.how-it-works__close {
    font-size: 1.5rem;
    position: absolute;
    top: 5%;
    right: 5%;
}

.how-it-works__close:hover {
    cursor: pointer;
}

.how-it-works__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 2vmin;
}

.list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__image {
    max-height: 6vmin;
    filter: drop-shadow(3px 3px 3px var(--dark-brown));
}
