.game-grid {
    display: grid;
    grid-template-columns: repeat(10, 7vmin);
    grid-template-rows: repeat(10, 7vmin);
}

.game-grid__cell {
    border: 1px solid black;
    background-color: var(--pastel-beige);
    font-size: 2vmin;
}

.game-grid__inner-cell {
    font-size: 4vmin;
    padding-left: 0.5vw;
}
.game-grid__cell--red {
    background-color: red;
}

.game-grid__cell--green {
    background-color: green;
}

.game-grid__cell--carrot {
    content: "🥕";
}
